body{
    background-color: #B39CD0;
    font-size: 40px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 500;
}

.container{
    background-color: white;
    width: 800px;
    height: 800px;
    border: 1px solid; 
    position : relative;
    margin : 0 auto;
}

div.txcolor{
    margin:10px 0;
}

div.txsize{
    margin:10px 0;
}

div.option1{
    margin:10px 0;
}

div.option2{
margin:10px 0 100px;
}
